.name-font{
    font-size: 4.5rem;
}

.chicago-font {
    font-size: 3.2rem;
    color: #800000
}

.berkeley-font {
    font-size: 3.0rem;
    color: #C4820E
}

.contact-font {
    font-size: 1.7rem;
}

.normal-font {
    font-size: 1.7rem;
}

.header-font {
    font-size: 3.2rem;
}

.item-margin {
    margin-top: 5px;
}

